.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.input {
  width: calc(100% - 8px);
}

.submit {
  margin-top: 1rem;
}

@media (prefers-color-scheme: dark) {
  .submit {
    border-radius: 4px;
  }

  .input {
    background-color: var(--tundora);
    color: var(--white);
  }
}
