.separator {
  height: 4px;
  background-color: #dedede;
  border: 0;
  margin: 2rem auto;
  width: 50%;
}

@media (prefers-color-scheme: dark) {
  .separator {
    background-color: var(--tundora);
  }
}
