{
    "extends": "@leadhome/eslint-config",
    "settings": {
      "import/resolver": {
        "webpack": {
          "config": "./webpack/config.js"
        },
        "node": {
          "paths": [
            "node_modules",
            "src",
            "components",
            "containers"
          ]
        }
      }
    },
    "rules": {
      "react-hooks/exhaustive-deps": false
    }
}
