{
    "extends": "@leadhome/eslint-config",
    "settings": {
      "import/parser": "babel-eslint",
      "import/resolver": {
        "node": {
          "paths": [
            "node_modules",
            "src",
            "components",
            "containers"
          ]
        }
      }
    },
    "rules": {
      "import/no-unresolved": 0,
      "react-hooks/exhaustive-deps": 0,
      "react/jsx-curly-newline": 0
    }
}
