.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.input {
  width: calc(100% - 8px);
}

.field {
  width: 100%;
}

.submit {
  margin-top: 1rem;
}

.boards {
  display: flex;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .form {
    width: 500px;
  }
}
