.list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #dedede;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.item:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

.text {
  width: 100% - 10px;
  margin: 0;
  padding: 0;
}

.delete {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  right: 0px;
}
