.list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid var(--alto);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.item:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

.text {
  width: calc(100% - 32px);
  margin: 0;
  padding: 0;
}

.delete {
  width: 32px;
  height: 32px;
  opacity: 1.0;
}

.delete::before{
  transform: scale(0.3);
}

.character {
  width: 32px;
}

@media (prefers-color-scheme: dark) {
  .item {
    border-bottom-color: var(--tundora);
  }
}
