.item {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #dedede;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
