.characters {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.character, .icon {
  margin-right: 1rem;
  opacity: 0.4;
}

.character {
  width: 100px;
}

.character.active, .icon.active {
  opacity: 1;
}

.character:last-child, .icon:last-child {
  margin-right: 0;
}


.disabled {
  opacity: 0.1;
}
