.add {
  width: 100%;
  margin-bottom: 2rem;
}

.heading {
  text-align: center;
  margin: 0 0 1rem;
}

.boards {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.button {
  width: 100%;
  margin-bottom: 1rem;
}

.create {
  width: 100%;
  margin-bottom: 1rem;
}
