.container {
  margin-bottom: 1rem;
}

.children {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

@media (min-width: 768px) {
  .children {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (prefers-color-scheme: dark) {
  .container {
    border-color: var(--tundora);
  }

  .container > p {
    /* don't @ me */
    background-color: var(--mineshaft) !important;
    color: var(--white) !important;
  }
}
