.container {
  margin-bottom: 1rem;
}

.children {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

@media (min-width: 768px) {
  .children {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
