:root {
  --coral: #FF6A70;
  --storm: #51516F;
  --white: #FFFFFF;
  --mineshaft: #232323;
  --tundora: #454545;
  --alto: #dedede;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  -webkit-tap-highlight-color: transparent;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 1440px) {
  .container {
    padding: 0;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--mineshaft);
    color: var(--white);
  }
}
