:root {
  --coral: #FF6A70;
  --storm: #51516F;
  --white: #FFFFFF;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  /* Native apps don't allow text selection, so mobile PWAs shouldn't. */
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 1440px) {
  .container {
    padding: 0;
  }
}
