.nav {
  height: 70px;
  border-bottom: 4px solid var(--coral);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.logo {
  height: 32px;
}

.heading {
  font-size: 20px;
  line-height: 32px;
  margin: 0;
  color: var(--coral);
}

.githubLink {
  height: 32px;
  width: 32px;
  text-decoration: none;
}

.githubLink i {
  margin: 0;
}
