@media (prefers-color-scheme: dark) {
  .link {
    border: 2px var(--tundora) solid;
    border-radius: 2px;
    color: var(--alto);
  }

  .link, .link:hover {
    background-color: var(--tundora) !important;
  }

  .link:after {
    box-shadow: none !important;
  }
}
